* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  .section {
    .logo {
      img {
        width: 200px;
      }
    }
  }
}
.hero {
  .hero-image-wrapper {
    img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  }
  .hero-text {
    .hero-title {
      font-size: 4rem;
    }
  }
}
